@using MyTeaApp.Models.HelperModels;

@model NotificationModel;

@{
    
}

@if (Model != null)
{
    <div class="@Model.BgColor d-none position-fixed top-0 end-0 mt-5 me-3 px-3 py-2 w-100" id="notification">
        <p class="fw-bold text-white m-0">@Model.Message</p>
    </div>
}
<script>
    const notif = document.getElementById("notification");
    
    if (notif) {
        notif.classList.toggle("d-none")

        setTimeout(() => {
            notif.classList.toggle("d-none")
        }, 5000)
    }
</script>

<style>
    #notification{
        max-width: 350px;
        border-radius: 10px;
    }
</style>