@using MyTeaApp.Models.ViewModels;
@model IEnumerable<UserInfoVM>;

@{
    List<string> depsNames = Model.Select(u => u.DepartmentName).Distinct().ToList();
    List<SelectListItem> deps = new List<SelectListItem>();
    deps.Add(new SelectListItem { Text = "All", Value = "all", Selected = ViewData["filter.department"]?.ToString() == "all" });
    depsNames.ForEach(d => deps.Add(new SelectListItem { Text = d, Value = d, Selected = ViewData["filter.department"]?.ToString() == d }));

    List<string> rolesNames = Model.Select(u => u.RoleName).Distinct().ToList();
    List<SelectListItem> roles = new List<SelectListItem>();
    roles.Add(new SelectListItem { Text = "All", Value = "all", Selected = ViewData["filter.role"]?.ToString() == "all" });
    rolesNames.ForEach(r => roles.Add(new SelectListItem { Text = r, Value = r, Selected = ViewData["filter.role"]?.ToString() == r }));
}

<form class="row mb-5" asp-action="Index" asp-controller="Account" method="get">
    <div class="input-group-sm col-2">
        <label class="title form-label">Search by name</label>
        <input class="form-control" type="text" name="userName"
               placeholder="Filter by name" value="@ViewData["filter.userName"]" />
    </div>
    <div class="col-2">
        <label class="title form-label">Admission Date</label>
        <input type="date" class="form-control" name="admissionDate"
               value="@ViewData["filter.admissionDate"]" />
    </div>
    <div class="col-2 align-content-center">
        <label class="title form-check-label">
            Currently employed
            <input type="checkbox" name="activeOnly" checked="@ViewData["filter.activeOnly"]" />
        </label>

    </div>
    <div class="col-2">
        <label class="title form-label">By department</label>
        <select class="form-select" asp-items="deps" name="department">
        </select>
    </div>
    <div class="col-2">
        <label class="title form-label">By role</label>
        <select class="form-select" asp-items="roles" name="role">
        </select>
    </div>
    <div class="col-2 align-content-end justify-content-center">
        <a asp-action="Index" asp-controller="Account" class="btn btn-sm btn-outline-info text-decoration-none">Clear</a>
        <button type="submit" class="btn btn-sm btn-outline-info">Filter</button>
    </div>
</form>

<style>
    body {
        font-family: 'Arial', sans-serif !important;
    }

    .title {
        font-weight: bold;
        color: #0097B2 !important;
    }
</style>