@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;

@using MyTeaApp.Models.ViewModels
@model RegisterVM

@{
    string text = "";
    string classe = "align-content-center justify-content-center text-center ";
    if (!SignInManager.IsSignedIn(User))
    {
        text = "REGISTER ADMIN";
    }
    else if (User.IsInRole("Admin"))
    {
        text = "REGISTER NEW USER";
        classe = "";
        
    }

}
<div class="col">
    <div class="mb-3 row align-content-center justify-content-center text-center">
        <h1 class="title">MyTea</h1>
        <h4>@text</h4>
    </div>

    <partial name="_RegisterFormPartial" model="Model"></partial>
</div>