@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;

@using MyTeaApp.Models.ViewModels
@model RegisterVM

@{
    string text = "";
    if (!SignInManager.IsSignedIn(User))
    {
        text = "REGISTER ADMIN";
    }
    else if (User.IsInRole("Admin"))
    {
        text = "REGISTER NEW USER";
    }

}

<div class="col">
    <div class="col flex-wrap">
        <div class="mb-3 row text-center justify-content-center align-content-center">
            <h1 class="title">MyTea</h1>
            <h4>@text</h4>
        </div>

        <partial name="_RegisterFormPartial" model="Model"></partial>
    </div>
</div>

<style>
    #myTea {
        font-family: 'Arial', sans-serif !important;
    }

    .title {
        font-weight: bold;
        color: #0097B2 !important;
    }
</style>
