@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;

@using MyTeaApp.Models.ViewModels

@model RegisterVM

@if (!SignInManager.IsSignedIn(User))
{
    <div class="mb-3 row text-center justify-content-center align-content-center">
        <h1>MyTea</h1>
        <h4>REGISTER ADMIN</h4>
    </div>
    <partial name="_RegisterFormPartial" model="Model"></partial>
}
else if(User.IsInRole("Admin"))
{
    <div class="mb-3 row text-center justify-content-center align-content-center">
        <h1>MyTea</h1>
        <h4>REGISTER NEW USER</h4>
    </div>
    <partial name="_RegisterFormPartial" model="Model"></partial>
}