﻿<style>
     .col {
         margin-right: 8px;
     }

     h1 {
         margin-bottom: 40px;
     }

     h3 {
         margin-bottom: 30px
     }

     #myTea {
         font-family: 'Arial', sans-serif !important;
     }

     .title {
         font-weight: bold;
         color: #0097B2 !important;
     }

     .btn-outline-info {
         color: #0097B2 !important;
         border-color: #0097B2 !important;
     }

         .btn-outline-info:hover {
             color: white !important;
             border-color: #0097B2 !important;
             background-color: #0097B2 !important;
         }
</style>

<div id="myTea" class="col flex-wrap text-wrap text-break text-center">
    <h1 class="title">Welcome, Manager!</h1>
    <h3>What would you like to do?</h3>

    <div class="container-fluid d-flex mb-4">

        <div class="col container-fluid d-flex justify-content-center">
            <!-- Card 1 -->
            <div class="card">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Departments</h5>
                    <p class="card-text">As an administrator, you can create a new department, as well as, view, update, and delete department records for the company.</p>
                    <a asp-area="" asp-controller="Departments" asp-action="Index" class="btn btn-outline-info mt-auto">Go to</a>
                </div>
            </div>
        </div>

        <div class="col container-fluid d-flex justify-content-center">
            <!-- Card 2 -->
            <div class="card">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Fortnight Records</h5>
                    <p class="card-text">In this flow, it is possible to track the record of hours worked by users in specific activities, associating these hours with the respective WBS. Employees can enter the hours worked in each WBS for each day, ensuring an accurate record of the time spent on different projects or tasks.</p>
                    <a asp-area="" asp-controller="Records" asp-action="Index" class="btn btn-outline-info mt-auto">Go to</a>
                </div>
            </div>
        </div>

        <div class="col container-fluid d-flex justify-content-center">
            <!-- Card 3 -->
            <div class="card">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text">As an administrator, you can register a new collaborator, as well as, view, update, and delete these created records.</p>
                    <a asp-area="" asp-controller="Account" asp-action="Index" class="btn btn-outline-info mt-auto">Go to</a>
                </div>
            </div>
        </div>

        <div class="col container-fluid d-flex justify-content-center">
            <!-- Card 4 -->
            <div class="card">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">WBS</h5>
                    <p class="card-text">In this flow, you can create new WBS, which represent different activities or projects that users are involved in. In addition, you can edit and delete an existing WBS as needed, ensuring the accuracy and relevance of time records.</p>
                    <a asp-area="" asp-controller="WBS" asp-action="Index" class="btn btn-outline-info mt-auto">Go to</a>
                </div>
            </div>
        </div>

    </div>

</div>