@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="Text-center">

    <h3>Acesso apenas para Administradores</h3>

</div>