@model MyTeaApp.Models.WBS

@{
    ViewData["Title"] = "Create";
}


<div id="myTea" class="col">
    <h1 class="title mb-2">Create</h1>

    <h4>WBS</h4>
    <hr />
    <div class="col flex-wrap">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="WbsName" class="control-label"></label>
                    <input asp-for="WbsName" class="form-control" />
                    <span asp-validation-for="WbsName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WbsCod" class="control-label"></label>
                    <input asp-for="WbsCod" class="form-control" />
                    <span asp-validation-for="WbsCod" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <!--Radio IsChargeable-->
                <div class="form-group mt-2">
                    <label asp-for="IsChargeable" class="control-label"></label>
                    <div class="form-check">
                        <input type="radio" asp-for="IsChargeable" class="form-check-input" value="true" checked>
                        <label class="form-check-label">Yes</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" asp-for="IsChargeable" class="form-check-input" value="false">
                        <label class="form-check-label">Not</label>
                    </div>
                    <span asp-validation-for="IsChargeable" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-info mt-3" />
                </div>
            </form>
        </div>
    </div>
    <div class="mt-2">
        <a class="clear text-decoration-none" asp-action="Index">Back to List</a>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    #myTea {
        font-family: 'Arial', sans-serif !important;
    }

    .title {
        font-weight: bold;
        color: #0097B2 !important;
    }
    
    .clear
    {
        color: #0097B2;
    }

    .clear:hover {
        color: darkblue;
    }

    .clear {
        color: #0097B2;
    }

        .clear:hover {
            color: darkblue;
        }

    .btn-outline-info {
        color: #0097B2 !important;
        border-color: #0097B2 !important;
    }

    .btn-outline-info:hover {
            color: white !important;
            border-color: #0097B2 !important;
            background-color: #0097B2 !important;
    }
</style>
