<div class="col flex-wrap text-wrap text-break text-center">

    <iframe title="MyTeaOficial" width="1110" height="600" src="https://app.powerbi.com/reportEmbed?reportId=4204c7ea-b428-4136-9428-6677d5691767&autoAuth=true&ctid=cf36141c-ddd7-45a7-b073-111f66d0b30c" frameborder="0" allowFullScreen="true"></iframe>

</div>
