@model MyTeaApp.Models.Department

@{
    ViewData["Title"] = "Details";
}
<div id="myTea" class="col">
    <h1 class="title">Details</h1>

    <div>
        <h4>Department</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DepartmentName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DepartmentName)
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@Model?.DepartmentID">Edit</a>
        <a class="clear text-decoration-none" asp-action="Index">Back to List</a>

    </div>
</div>

<style>
    #myTea {
        font-family: 'Arial', sans-serif !important;
    }

    .title {
        font-weight: bold;
        color: #0097B2 !important;
    }

    .clear {
        color: #0097B2;
    }

        .clear:hover {
            color: darkblue;
        }

    .btn-outline-info {
        color: #0097B2 !important;
        border-color: #0097B2 !important;
    }

        .btn-outline-info:hover {
            color: white !important;
            border-color: #0097B2 !important;
            background-color: #0097B2 !important;
        }
</style>